<div *ngIf="!hideStatus" class="status-wrapper" [class.direct-message]="isDirectMessage" [class.status-selected]="isSelected">
    <div class="reblog" *ngIf="reblog">
        <a class="reblog__profile-link" href title="{{ status.account.acct }}" 
            (click)="openAccount(status.account)"
            (auxclick)="openUrl(status.account.url)"><span innerHTML="{{ status.account | accountEmoji }}"></span> <img *ngIf="reblog" class="reblog__avatar" src="{{ status.account.avatar | ensureHttps }}" /></a> 님이 부스트 했습니다
    </div>
    <div *ngIf="statusWrapper.status.pinned && !notificationType" class="pinned">
        <div class="notification--icon">
            <fa-icon class="pinned__icon" [icon]="faThumbtack"></fa-icon>
        </div>
        <div class="notification--label pinned__label">
            고정된 게시물
        </div>
    </div>
    <div *ngIf="notificationType === 'favourite'">
        <div class="notification--icon">
            <fa-icon class="favorite" [icon]="faStar"></fa-icon>
        </div>
        <div class="notification--label">
            <a href class="notification--link" title="{{ notificationAccount.acct }}" 
                (click)="openAccount(notificationAccount)"
                (auxclick)="openUrl(notificationAccount.url)" innerHTML="{{ notificationAccount  | accountEmoji }}"></a>
            님이 내 게시물을 마음에 들어합니다
        </div>
    </div>
    <div *ngIf="notificationType === 'reblog'">
        <div class="notification--icon">
            <fa-icon class="boost" [icon]="faRetweet"></fa-icon>
        </div>
        <div class="notification--label">
            <a href class="notification--link" title="{{ notificationAccount.acct }}" 
                (click)="openAccount(notificationAccount)"
                (auxclick)="openUrl(notificationAccount.url)" innerHTML="{{ notificationAccount | accountEmoji }}"></a>
            님이 부스트 했습니다
        </div>
    </div>
    <div *ngIf="notificationType === 'poll'">
        <div class="notification--icon">
            <fa-icon class="boost" [icon]="faList"></fa-icon>
        </div>
        <div class="notification--label">
            참여한 투표가 종료되었습니다
        </div>
    </div>
    <div class="status">
        <a href class="status__navigation" title="게시물 열기" (click)="textSelected()">

        </a>
        <div [ngClass]="{'notification--status': notificationAccount }">
            <a href class="status__profile-link" title="{{displayedStatus.account.acct}}"
                (click)="openAccount(displayedStatus.account)" (auxclick)="openUrl(displayedStatus.account.url)">
                <img [class.status__avatar--boosted]="reblog || notificationAccount" class="status__avatar" src="{{ displayedStatus.account.avatar | ensureHttps }}" />
                <!-- <img *ngIf="reblog" class="status__avatar--reblog" src="{{ status.account.avatar }}" /> -->
                <img *ngIf="notificationAccount" class="notification--avatar" src="{{ notificationAccount.avatar | ensureHttps }}" />
                <span class="status__name">
                    <span class="status__name--displayname"
                        innerHTML="{{displayedStatus.account | accountEmoji}}"></span><span
                        class="status__name--username">{{displayedStatus.account.acct}}</span>
                </span>
            </a>
            <div class="status__created-at" title="{{ displayedStatus.created_at | date: 'full' }}">
                <a href class="status__created-at--link" (click)="textSelected()"
                    (auxclick)="openUrl(displayedStatus.url)">
                    {{ displayedStatus.created_at | timeAgo | async }}
                </a>
            </div>
            <div class="status__labels">
                <div class="status__labels--label status__labels--bot" title="봇" *ngIf="displayedStatus.account.bot">
                    봇
                </div>
                <div class="status__labels--label status__labels--xpost" title="크로스포스터를 통해 작성되었습니다"
                    *ngIf="isCrossPoster">
                    크로스포스팅
                </div>
                <div class="status__labels--label status__labels--thread" title="글타래" *ngIf="isThread">
                    글타래
                </div>
                <div class="status__labels--label status__labels--discuss" title="답글이 있습니다"
                    *ngIf="hasReply">
                    답글
                </div>
                <div class="status__labels--label status__labels--old" title="오래된 게시물입니다" *ngIf="isOld && !statusWrapper.status.pinned">
                    오래됨
                </div>
                <div class="status__labels--label status__labels--remote" title="현재 인스턴스에 연합되지 않은 게시물입니다" *ngIf="isRemote">
                    리모트
                </div>
            </div>


            <!-- <div #content class="status__content" innerHTML="{{displayedStatus.content}}"></div> -->

            <a href class="status__content-warning" *ngIf="isContentWarned" title="열람주의 내용 보이기"
                (click)="removeContentWarning()">
                <span class="status__content-warning--title">sensitive content</span>
                <span innerHTML="{{ contentWarningText }}"></span>
            </a>
            <app-databinded-text class="status__content" *ngIf="!isContentWarned" [text]="statusContent" [selected]="isSelected"
                (accountSelected)="accountSelected($event)" (hashtagSelected)="hashtagSelected($event)"
                (textSelected)="textSelected()"></app-databinded-text>

            <app-poll class="status__poll" *ngIf="!isContentWarned && displayedStatus.poll"
                [poll]="displayedStatus.poll" [statusWrapper]="displayedStatusWrapper"></app-poll>

            <app-card class="status__card" *ngIf="!isContentWarned && displayedStatus.card && !hasAttachments"
                [card]="displayedStatus.card"></app-card>

            <app-attachements *ngIf="!isContentWarned && hasAttachments" class="attachments"
                [attachments]="displayedStatus.media_attachments">
            </app-attachements>

            <app-action-bar #appActionBar [statusWrapper]="displayedStatusWrapper"
                (browseThreadEvent)="browseThread($event)" (cwIsActiveEvent)="changeCw($event)"
                (replyEvent)="openReply()"></app-action-bar>
        </div>
        <app-create-status *ngIf="replyingToStatus" [statusReplyingToWrapper]="displayedStatusWrapper"
            (onClose)="closeReply()">
        </app-create-status>
    </div>
</div>