<div class="tutorial">
    <div class="tutorial__content">
        <app-notifications-tutorial *ngIf="index === 0"></app-notifications-tutorial>
        <app-labels-tutorial *ngIf="index === 1"></app-labels-tutorial>
        <app-thankyou-tutorial *ngIf="index === 2"></app-thankyou-tutorial>
    </div>
    <div class="tutorial__footer">        
        <a href (click)="close()" 
            title="튜토리얼 끝내기"
            class="tutorial__footer--button tutorial__footer--button--close">튜토리얼 끝내기</a>
        <a href (click)="previous()" 
            title="이전"
            class="tutorial__footer--button tutorial__footer--button--navigate"
            [class.tutorial__footer--button--disabled]="!previousAvailable">이전</a>
        <a href (click)="next()" 
            title="닫기"
            class="tutorial__footer--button tutorial__footer--button--next"
            [class.tutorial__footer--button--disabled]="!nextAvailable"><span *ngIf="!tutorialEnded">next</span><span *ngIf="tutorialEnded">다음</span></a>
    </div>    
</div>