<div class="tutorial-content flexcroll">
    <h2 class="tutorial-content__title-important">감사합니다!</h2>
    <p>
        Sengi를 다운로드해 주셔서 감사합니다. 제가 이 소프트웨어를 개발할 때 그랬듯이, 여러분도 Sengi를 유용하게 활용하셨으면 좋겠습니다.<br />
        <br />
        여유가 되신다면 아래쪽도 둘러보시고... 즐거운 시간 되세요! <br />
        <br />
    </p>
    <h3 class="tutorial-content__subtitle">Sengi 공식 마스토돈 계정</h3>
    <p>
        <a href="https://mastodon.social/@sengi_app" target="_blank">
            <img class="content__expand content__expand--smaller" src="assets/img/account.png" /><br />
        </a>

        <a class="follow" href (click)="follow()" title="등록된 모든 계정으로 @Sengi_app 을 팔로우하기" [class.follow__disabled]="followingDisabled">
            @Sengi_app 을 팔로우하기
        </a>
    </p>
    <h3 class="tutorial-content__subtitle">다른 빌드</h3>
    <p>
        <a class="link link__tab" href="https://hub.docker.com/r/nicolasconstant/sengi" target="_blank">공식 Docker
            이미지</a><br />
        <a class="link link__tab" href="https://snapcraft.io/sengi" target="_blank">공식 Snap 빌드</a><br />
        <br />
    </p>
    <h3 class="tutorial-content__subtitle">Other ressources</h3>
    <p>
        <a class="link link__tab" href="https://nicolasconstant.github.io/sengi/" target="_blank">공식
            페이지</a><br />
        <a class="link link__tab" href="https://github.com/NicolasConstant/sengi" target="_blank">Github
            저장소</a><br />
        <a class="link link__tab" href="https://write.as/nicolas-constant/" target="_blank">개발자
            블로그</a><br />
        <br />
    </p>
</div>