<div class="panel" [class.comrade__background]="isComrade">
    <h3 class="panel__title" [class.comrade__text]="isComrade">새 계정 추가</h3>

    <div class="panel__content">
        <h2 class="comrade__title" *ngIf="isComrade">동무를 열렬히 환영합니다!</h2>
        <form (ngSubmit)="onSubmit()">
            <label *ngIf="isComrade">여기에 동무의 봉사기 주소를 입력해 주시요:</label>
            <label *ngIf="!isComrade">여기에 인스턴스 주소를 입력해 주세요:</label>

            <div>
                <input type="text" class="form-control form-control-sm form-with-button"
                    [(ngModel)]="setInstance" name="instance" [class.comrade__input]="isComrade"
                    placeholder="mastodon.social" />
                
                <button type="submit" class="form-button"
                    title="계정 추가"
                    [class.comrade__button]="isComrade">
                    <span *ngIf="!isLoading">Submit</span>
                    <app-waiting-animation *ngIf="isLoading" class="waiting-icon"></app-waiting-animation>
                </button>
               
            </div>
        </form>

        <div *ngIf="isComrade" class="comrade__video">
            <iframe width="300" height="170"
                src="https://www.youtube.com/embed/NzBjnoRG7Mo?feature=oembed&autoplay=1&auto_play=1" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

    </div>
</div>