<!-- <div class="tutorial"> -->
<div class="add-account" *ngIf="showAddAccount">
    <!-- <div class="add-account__arrow"></div> -->
    <img class="add-account__arrow" src="assets/img/arrow_1.png" alt="arrow pointing the +">
    <h3 class="add-account__title">어서오세요!</h3>
    <p class="add-account__description">
        Sengi에 오신 걸 환영합니다. "+" 버튼을 눌러 새 계정을 추가하세요.
    </p>
</div>
<div class="open-account" *ngIf="showOpenAccount">
    <!-- <div class="open-account__arrow"></div> -->
    <img class="open-account__arrow" src="assets/img/arrow_2.png" alt="arrow pointing the first account">
    <div class="open-account__mouse-icon"></div>
    <h3 class="open-account__title">계정이 추가되었습니다!</h3>
    <p class="open-account__description">
        프로필 사진을 <span class="underline">우클릭</span>하여 계정 메뉴를 열고,<br>타임라인을 추가해 보세요!
    </p>
</div>
<!-- </div> -->

<img class="sengi-logo" src="assets/icons/icon-384x384.png" />