<div class="tutorial-content flexcroll">
    <h2 class="tutorial-content__title-important">필요한 설정이 모두 끝났어요! 🎉</h2>
    <p>
        이제부터 Sengi를 어떻게 사용하는 지에 대해 알려드리겠습니다.<br />
        <br />
    </p>

    <h3 class="tutorial-content__subtitle">알림</h3>
    <p>
        기본적으로 Sengi에서는 알림 타임라인을 따로 둘 필요가 없습니다.<br />
        <br />
        Sengi에서는 다른 방식으로 알림을 확인할 수 있는데, 누군가가 나를 멘션하거나, 팔로우했거나, 부스트나 좋아요를 누르는 등으로 계정에 새 알림이 온다면...
        <br />
        <img class="content__center" src="assets/video/flashing.gif">
        <!-- <video class="content__center clean-outline" autoplay muted loop>
            <source src="assets/video/flashing.mp4" type="video/mp4">
        </video> -->
        <br />
        이렇게 프로필 아바타 위에 깜박거리는 표시가 생깁니다.<br />
        프로필 아바타를 우클릭하면 계정 패널이 열리는데, 이 때 알림의 종류에 해당하는 (멘션 혹은 알림) 섹션으로 이동해서 가장 최근의 항목을 보여 줍니다.<br>
        알림을 읽은 후에는 깜빡임이 멈춥니다:<br />
        <br />
        <video class="content__expand clean-outline" autoplay muted loop controls>
            <source src="assets/video/notification.mp4" type="video/mp4">
        </video>
        <br />
        이 방식을 통해, 여러 개의 계정을 등록하더라도 알림창이 화면의 공간을 차지하지 않도록 합니다.
        <br />
        원하신다면 설정에서 '이 계정의 알림을 끄기'나 '계정 패널에 오토포커스 비활성화' 등을 체크하여 언제든지 비활성화할 수 있습니다.<br />
    </p>
</div>