<div class="tutorial-content flexcroll">
    <h2 class="tutorial-content__title-important">라벨</h2>
    <p>
        Sengi에서는 게시물의 특성을 프로필 사진 아래쪽에 라벨로 나타냅니다. <br />
        <br />
        <img class="content__expand" src="assets/img/labels.png" /><br />
    </p>


    <h3 class="tutorial-content__subtitle">설명</h3>
    <br />
    <div class="doc-label-wrapper">
        <div class="doc-label doc-label__bot">
            봇
        </div>
        <div class="doc-label-definition">
            이 계정은 봇입니다
        </div>
    </div>
    <div class="doc-label-wrapper">
        <div class="doc-label doc-label__replies">
            답글
        </div>
        <div class="doc-label-definition">
            이 게시물에 답글이 있습니다
        </div>
    </div>
    <div class="doc-label-wrapper">
        <div class="doc-label doc-label__thread">
            글타래
        </div>
        <div class="doc-label-definition">
            이 글의 앞뒤로 이어지는 글이 있습니다
        </div>
    </div>
    <div class="doc-label-wrapper">
        <div class="doc-label doc-label__xpost">
            크로스포스팅
        </div>
        <div class="doc-label-definition">
           이 게시물은 <a href="https://moa.party/" target="_blank">MOA</a>와 같은 서비스를 통해 크로스포스팅된 글입니다.
           <span class="doc-label-definition__gray">API 제한으로 인해 로컬 타임라인/유저에게만 보여집니다.</span>
        </div>
    </div>   
    <div class="doc-label-wrapper">
        <div class="doc-label doc-label__old">
            오래됨
        </div>
        <div class="doc-label-definition">
           이 게시물은 3개월이나 그 이전에 작성되었습니다.
        </div>
    </div>
    <div class="doc-label-wrapper">
        <div class="doc-label doc-label__remote">
            리모트
        </div>
        <div class="doc-label-definition">
            이 게시물은 현재 선택한 인스턴스에 연합되지 않았습니다.
            <span class="doc-label-definition__gray">이 기능은 계정 및 인스턴스에서 설정한 차단을 무시합니다. 설정에서 '리모트 게시물을 가져오지 않기'를 체크하여 비활성화할 수 있습니다.</span>
        </div>
    </div>




    <p>

    </p>
</div>